DATABASE_URL="mysql://root:root@localhost:3306/dev"
SHADOW_DATABASE_URL="mysql://root@localhost:3309/shadowdb"
SESSION_SECRET="super-duper-s3cret"
SMTP_HOST=""
SMTP_PORT=587
SMTP_EMAIL=""
SMTP_PASSWORD=""
SIGNUP_DISABLED=false
MAINTENANCE_MODE_ENABLED=false
