node_modules

/build
/public/build

.env

/prisma/data.db
/prisma/data.db-journal
/prisma/dev.db

coverage
/test-results/
/playwright-report/
/playwright/.cache/
__screenshots__

/data

.react-router/
tsconfig.tsbuildinfo

# Sentry
.sentryclirc
.env.sentry-build-plugin
